/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.navbar-logo img {
  width: 39px;
  margin-right: 10px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 35px; /* Increased margin for navbar items */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) perspective(1000px) rotateY(0deg);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  color: #000;
}

.popup-content {
  text-align: center;
  transform-style: preserve-3d;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #555;
}

.close-btn:hover {
  color: #000;
}

.popup.show {
  opacity: 1;
  transform: translate(-50%, -50%) perspective(1000px) rotateY(0deg);
}

.popup.show.backface-invisible {
  backface-visibility: hidden;
}

.popup.flip {
  transform: translate(-50%, -50%) perspective(1000px) rotateY(180deg);
}

.popup-content h2 {
  color: #000;
}

/* Login Container Styles */
.login-container {
  background-color: #105ccfdc;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-container h2 {
  color: #f2efef;
  margin-bottom: 20px;
}

.login-container .input-group {
  margin-bottom: 20px;
  text-align: left;
}
.login-container .email {
  margin-bottom: 20px;
  text-align: left;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  color: #f9f6f6;
}

.login-container input {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.login-container input:focus {
  border-color: #007bff;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #073375;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-image: linear-gradient(45deg, #073375, #007bff);
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container .bottom-text {
  margin-top: 20px;
  color: #f0eeee;
  font-size: 14px;
}

.login-container .bottom-text a {
  color: #007bff;
  text-decoration: none;
}

.login-container .bottom-text a:hover {
  text-decoration: underline;
}
